---
import '..//styles/global.css';
import Layout from '../layouts/Layout.astro'; 
---
<Layout>

  <div id="container-principal" >
    <h1 class="   text-white  ">Hola  como estas ? te ves bien weee</h1>
  </div>
</Layout>
