
---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container-principal" class="bg-fondo">
  <h1 class="   text-white p-4 ">Hola  como estas ? te ves bien weee</h1>
</div>
