---
import '..//styles/global.css';
import Proyectos from '../components/proyectos.astro';
import Layout from '../layouts/Layout.astro'; 
---
<Layout>
  
  <div class="justify-center items-center text-center pt-8  ">
    <h1 class="text-2xl font-extrabold   bg-gradient-to-r from-gray-700 to-slate-100 bg-clip-text text-transparent ">Mauricio Noe Guzman Martinez</h1>
    <h2 class="text-xl font-bold  underline  decoration-slate-400 "> Desarrollador de software</h2>
  </div>     
  <section id="container-principal"  class=" justify-cente pt-7  "   >
    <section class="grid grid-cols-1 gap-4  md:grid-cols-2  " id=" container-secundario " > 

      <div id="precentacion" class=" flex items-center justify-center pb-5 "   >
        
        <img src="/public/imagenes/imgreact.jpg" alt=" " class=" rounded-full  h-60 mx-auto    " >
            <!-- 
              <img src="/public/imagenes/imgreact.jpg" alt=" " class=" rounded-full  h-60 mx-auto  transform -scale-x-100  " >
              <div class=""> </div
              -->
            </div>
          
            <button id='btn-info-dev' class=" md:hidden bg-green-400  border-green-950  mx-36 rounded  shadow-slate-900   hover:-translate-y-6 transition-transform duration-75  animate-pulse "  > Sobre mi!! </button>
      <article class="md:hidden hidden text-1xl font-bold text-justify px-4 pt-4 " id="info-dev" >
                           <p class="text-1xl decoration-from-font px-4 text-ellipsis overflow-auto pt-20 "> Soy un Desarrollador de software especializado en sitios web y app moviles donde  tengo un claro conocimiento en lenguajes de programacion, frameworks, base de datos , como de igualmanera en metodologias <i class="font-bold ">SOLID </i> y <i class="font-bold" > SCRUM</i>. </p> 
                           <p class="text-1xl decoration-from-font px-4 text-ellipsis overflow-auto ">  
                              Poseo actualmente experiencia con el uso de async/await, fetch, axios, callbacks, DOM, entre otros, donde de igual manera manejo header, Cors para la  garantizar la seguridad de estas mismas funciones
                            </p>
                </article>
       </div>
       
       <section  class=" grid grid-cols-2  gap-4   ">  
         
         <Proyectos  
         
         title=' Baroo.on' 
             descriptions='Lorem eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee'
             tecnologias='cdd html javascript'
             
          /> 
          <Proyectos  
           
          title=' Baroo.on' 
          descriptions='Lorem eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee'
          tecnologias='cdd html javascript'
          
          /> 
          
          
          <Proyectos  
          
          title=' Baroo.on' 
          descriptions='Lorem eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee'
          tecnologias='cdd html javascript'
          
          /> 
        </section>
       
       <section id="Experencia"> 


        


       </section>
       
       
      </section>

    <script type="module" >
    document.addEventListener('DOMContentLoaded', () => {
      const btn = document.getElementById('btn-info-dev');
      const infodev = document.getElementById('info-dev');
    
      btn.addEventListener('click', () => {
        infodev.classList.toggle('hidden');
      });
    }); </script>

  </section>


</Layout>

