---
---
<section class="bg-red-400 flex px-2 ">  

    <div>
         <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aspernatur tempora quidem aut nemo! Sapiente, quasi quis? Ex, doloremque! Maiores iste rem aliquid amet dolor quos cum soluta nulla nihil?</p>
    </div> 
    <div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae autem tenetur nihil quasi recusandae repellendus sed nemo voluptatum, numquam labore unde modi pariatur voluptates ad error necessitatibus nisi, veritatis exercitationem.

    </div>
</section>
