---
const Carrimg =[
    `/imagenes/img-gith.jpg`,
    `/imagenes/imghtml.jpg`,
    `/imagenes/imgcss.jpg` ,
    `/imagenes/imgjs.jpg` ,
    `/imagenes/imgreact.jpg`,
    `/imagenes/imgjson.jpg`
 
]
---


  <article id="frame-hab" class="flex flex-col items-center justify-center bg-gray-100 rounded-lg shadow-lg   w-full">
    <div id="carrusel" class="flex gap-4 w-full overflow-hidden">
      <button id="btn-left" class="bg-white text-black">after</button>
      
      {Carrimg.map((img, index) => (
        <img src={img} alt={`img-${index}`} class="rounded-full h-20 w-max" />
      ))}

      <button id="btn-right" class="bg-white text-black">next</button>
    </div>
  </article>

<script>
  const btnLeft = document.getElementById('btn-left');
  const btnRight = document.getElementById('btn-right');
  const carrusel = document.getElementById('carrusel');

  


</script>
