---

---


<article id="frame-hab"  >   
    <div id="carrusel">
     
        <img id="img-2"  src="/public/imagenes/ img-gith.jpg" >  
        <img id="img-3"  src="/public/imagenes/imghtml.jpg " >
        <img id="img-4"  src="/public/imagenes/imgcss.jpg " >     
        <img id="img-1"  src="/public/imagenes/imgjs.jpg " > 
        <img id="img-5"  src="/public/imagenes/imgreact " >   
        <img id="img-5"  src="/public/imagenes/imgjson " >   



   </div>  
 
 
 </article>


 <script>  
    const carrimg = [
        


    ];

    function carrusel() {


      
       }


    </script>
