---
const link =[
 {href :"/Sobre", text:"Sobre mi" },
 {href:"/Proyectos", text:"Proyectos"},
 {href:"/Experencia", text:"Experencia"},
]

const animations= ()=>{
   
}
  

---

<section id="navbar" class="bg-gradient-to-r py-5 px-4 from-black  to-grey-100 text-white flex justify-between  "> 
  <a href="/">DEVELOPER </a>
  <div class=" ">
    <ul class="flex text-white gap-3  ">
    {link.map((link) => 
          ( <li><a href={link.href}>{link.text}</a> </li> )) } 
             
            </ul>
          </div>  

  </section>
  