
---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container-principal" class="bg-gray-100 flex items-center justify-center min-h-screen">
  <h1 class=" bg-red-500  text-white p-4 ">Hola</h1>
</div>

