---



---

<section id="navbar" class="bg-gradient-to-r py-4 px-5 from-black via-black to grey-100 justify-between  text-white flex "> 
  <h1>DEVELOPER</h1>
  <form>
    <ul class="flex text-white gap-3  ">
      <li><a href="/">Inicio</a></li>
      <li><a href="/sobre-mi">Sobre mí</a></li>
      <li><a href="/proyectos">Proyectos</a></li>
      <li><a href="/experiencia">Experiencia</a></li>
    </ul>
  </form>
</section>
