---



---

<section id="navbar"> 
  <h1>DEVELOPER</h1>
  <form>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/sobre-mi">Sobre mí</a></li>
      <li><a href="/proyectos">Proyectos</a></li>
      <li><a href="/experiencia">Experiencia</a></li>
    </ul>
  </form>
</section>
